html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Barlow Condensed';
    background-color: #f4f1de;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

#headerImg {
    width: 18%;
    padding-left: 5%;
}

#footerImg {
    width: 80%;
}

.game-instructions {
    border-radius: 15px;
    border: 2px solid black;
    margin: 5px;
    background-color: #facc8f;
}

canvas {
    background-color: #f0f0f0;
}

p {
    font-size: 1.2em;
}


h2 {
    color: #3d405b;
}

.custom-button {
    background-color: #3d405b;
    color: white;
    transition: all 0.3s ease;
}

.custom-navbar {
    background-color: #f2cc8f;
    padding: 20px 0;
}

.custom-navbar .nav-link.active {
    font-weight: bold;
    color: #3d405b;
}

.custom-footer {
    background-color: #81b29a;
    color: #3d405b;
    padding: 20px 0;
    
}

.custom-button:hover {
    font-weight: bold;
    font-size: 30px;
    color: #3d405b;
    background-color: #f4f1de;
}

.custom-button:active {
    transform: scale(0.95);
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.col-12 {
    flex: 1;
    max-width: 100%;
}

.clothing-list {
    width: 200px; 
    text-align: left;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.clothing-item {
    margin-bottom: 10px;
    text-align: center;
}

.clothing-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.clothing-item span {
    display: block;
    font-size: 14px;
    color: #333;
}

@media (max-width: 768px) {
    .game-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .clothing-list {
        margin: 0 auto; /* centralize clothing-list */
    }

    .game-instructions {
        margin: 0 auto; /* centralize clothing-list */
    }
}